body,
html {
  margin: 0;
  height: 100%;
  width: 100%;
}

html {
  font-size: 62.5%;
}

.wrapper {
  position: relative;
  margin: auto;
  /* width: 70%; */
  height: 100%;
  min-width: 50rem;
  max-width: 77rem;
  background-color: white;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 6rem;
  background: #ffffff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-shadow: 0 0 1px 1px lightgray;
  z-index: 1;
}

.titleToggle {
  position: absolute;
  left: 1rem;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}

.title {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.title:hover {
  background: #f2f2f2;
}

.title:active {
  background: #e5e5e5;
}
.toggleImage {
  display: none;
  box-sizing: border-box;
  margin: 0 0.5rem;
}
.toggleMenu {
  display: none;
  position: absolute;
  left: 0;
  bottom: -7rem;
  z-index: 1;
  border-radius: 8px;
  height: 8rem;
  width: 16rem;
  background-color: #ffffff;
  box-shadow: 0 0 0px 1px #ededed;
  font-size: 2rem;
}
.toggleMenu div:first-child {
  border-bottom: #ededed solid 2px;
}
.toggleMenu div {
  height: 4rem;
  padding: 0.8rem 1.6rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.toggleMenu div:active {
  color: #737373;
}

.searchContainer {
  position: relative;
  width: 27rem;
  height: 3.6rem;
  margin-right: 5rem;
}
.searchIcon {
  position: absolute;
  left: 1.5rem;
  top: 50%;
  transform: translate(0, -40%);
}

.hidden {
  display: none;
}
.visible {
  display: block;
}

.searchInput {
  background: #efefef;
  border: none;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-sizing: border-box;
  outline: none;
  font-size: 1.6rem;
  color: #737373;
  padding: 0 4rem;
}
.searchInput:focus {
  color: black;
  padding-left: 2rem;
}

.inputClearBtn {
  position: absolute;
  right: 1.5rem;
  top: 50%;
  transform: translate(0, -50%);
  zoom: 80%;
  cursor: pointer;
}

.heartArea {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;

  display: flex;
  align-items: center;
}
.heartBtn {
  scale: 0.8;
  cursor: pointer;
  margin: 1.5rem;
  transition-property: transform;
  transition: 0.1s;
}
.heartBtn:hover {
  scale: 0.9;
}
.heartBtn:active {
  content: url("./image/mousedownHeart.svg");
  scale: 0.7;
}

main {
  position: fixed;
  top: 6rem;
  left: 0;
  right: 0;
  bottom: 6rem;
  /* background: white; */
  box-sizing: border-box;
  overflow-y: scroll;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  background: #ffffff;
  padding: 0.5rem 0;
  box-sizing: border-box;
  box-shadow: 0 0 1px 1px lightgray;
  z-index: 1;
}

.main-footer__lists {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}
.main-footer__list {
  cursor: pointer;
}

.slides-container {
  margin: 2rem auto;
  width: 63rem;
  overflow: hidden;
}
.slides {
  display: flex;
  list-style: none;
  font-size: 1.2rem;
  padding: 0;
}
.slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0.6rem;
}

.userImg {
  border-radius: 50%;
  overflow: hidden;
  width: 6.6rem;
  height: 6.6rem;
  border: 2px solid transparent;
  background-image: linear-gradient(#fff, #fff),
    linear-gradient(to right, red 0%, orange 100%);
  background-origin: border-box;
  box-sizing: border-box;
  background-clip: content-box, border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem;
}
.userImg figure {
  border-radius: 50%;
  width: 5.6rem;
  height: 5.6rem;
  background: #dbdbdb;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards-container {
  width: 47rem;
  margin: auto;
}
.cards {
  list-style: none;
  width: 100%;
  padding: 0;
}

.card {
  border-bottom: 1px solid #dbdbdb;
  box-sizing: border-box;
  padding-bottom: 2rem;
}

.card + .card {
  margin-top: 2rem;
}
.card-header {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  position: relative;
  margin-bottom: 1rem;
}
.user-name {
  font-weight: bold;
}

.card-header__userImage {
  border-radius: 50%;
  overflow: hidden;
  width: 4.2rem;
  height: 4.2rem;
  border: 2px solid transparent;
  background-image: linear-gradient(#fff, #fff),
    linear-gradient(to right, red 0%, orange 100%);
  background-origin: border-box;
  box-sizing: border-box;
  background-clip: content-box, border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}

.card-header__userImage figure {
  border-radius: 50%;
  width: 3.2rem;
  height: 3.2rem;
  background: #dbdbdb;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-header__userImage figure img {
  zoom: 0.5;
}

.card-menu {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}
.card-menu figure {
  display: flex;
  align-items: center;
  margin: 0;
}
.imageCarouselcontainer {
  /* overflow: hidden; */
}
.imageCarousel {
  width: 47rem;
  display: flex;
  overflow: hidden;
}
.imageCarousel img {
  width: 47rem;
  height: 59rem;
}

.card-footer__first-line {
  display: flex;
  align-items: center;
  position: relative;
}
.card-footer__first-line figure {
  margin: 2rem 1rem 2rem 0;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.card-footer__first-line figure {
  margin: 2rem 1.5rem 1rem 0;
}
.card-footer__first-line figure.book-mark {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin-right: 0;
}
.good-count {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.context {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
.context__userName {
  font-weight: bold;
}
.show-comments {
  margin-bottom: 1rem;
}
.show-comments a {
  text-decoration: none;
  color: #737373;
  font-size: 1.4rem;
}
.input-comments fieldset {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 1.4rem;
}
.input-comments input {
  outline: none;
  border: none;
  height: 1.6rem;
}
.input-comments figure {
  margin: 0;
}
@media screen and (max-width: 770px) {
  .wrapper {
    width: 100%;
  }
}
